EVOLUTION_URL=https://evolution-api-production-20c4.up.railway.app
EVOLUTION_KEY=bbc7bc2e4fa3cb84a600cfefe6ea37e7b582233f72054072b6c174a38b8fc8b3
INSTANCE=gmss
ANTHROPIC_KEY=sk-ant-api03-SUA_CHAVE_AQUI
CONSULTOR_NUM=5511966578869
PORT=3000
